### Production Status
ENVIRONMENT_STATUS: "maintenance"|"live"
### JWT Secret Keys
SECRET_ADMIN_JWT_SECRET_KEY: string
SECRET_USER_JWT_SECRET_KEY: string
### OAuth Client IDs
SECRET_GOOGLE_CLIENT_ID: string
SECRET_GOOGLE_CLIENT_SECRET: string
### App Config
PUBLIC_APP_URL: string